.email-preview-grid-item {
  display: contents;
}

.checkbox-cell,
.star-cell,
.from-cell,
.subject-cell,
.sent-cell {
 display: flex;
 align-items: center;
}

.body-cell {
  display: flex;
  align-items: center;
  max-height: 6.25em;
  overflow: auto;
  padding: 0.625em;
 }

.star {
  font-size: 18px;
  cursor: pointer;
  color: #ccc;
  margin-right: 5px;
}

.star.active {
  color: gold;
}

.action-button {
    border: none;
    background: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

.action-button:hover {
    background-color: rgb(241, 238, 238);
    border-radius: 70%;
  }

.email-preview-grid-item:hover {
  cursor: pointer;
}

.email-preview-grid-item:hover .email-actions {
  display: block;
  justify-self: end;
}

.email-preview-grid-item:hover .sent-cell {
  display: none;
}

.email-actions {
  display: none;
}

.email-preview-grid-item.unread .subject-cell h4,
.email-preview-grid-item.unread .from-cell h4,
.email-preview-grid-item.unread .sent-cell h4 {
 font-weight: bold;
}

.email-preview-grid-item.read .subject-cell h4
.email-preview-grid-item.read .from-cell h4,
.email-preview-grid-item.read .sent-cell h4  {
  font-weight: normal;
}

