.email-preview {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  /* border: 4px solid green; */
}

.email-preview h4 {
  margin: 0;
}

.email-preview .subject {
  flex: 6;
  /* border: 4px solid coral; */
}

.email-preview .from {
  flex: 2;
  /* border: 4px solid coral; */
}

.email-preview .sent {
  flex: 3;
  /* border: 4px solid coral; */
}

.star {
  font-size: 18px;
  cursor: pointer;
  color: #ccc;
  margin-right: 5px;
}

.star.active {
  color: gold;
}


.action-button {
    border: none;
    background: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

.action-button:hover {
    background-color: rgb(241, 238, 238);
    border-radius: 70%;
  }

.email-preview:hover .checkbox {
    border-radius: 50%;
  }

.email-preview:hover .email-actions {
  display: block;
  }

.email-preview:hover .sent {
    display: none;
   }

.email-actions {
  display: none;
  }

