.sidebar {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    width: 200px;
    height: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    font-size: 18px;
    /* border: 4px solid purple; */
}

.sidebar .container {
    width: 100%;
    margin: 0 0 0 0;
    /* gap: 10px; */
}

.sidebar .container a {
    width: 93%;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    color: #333;
    border-radius: 0 20px 20px 0;
    /* border-bottom: 1px solid #ddd;  */
    /* border: 4px solid green; */
}

.sidebar .container a:hover {
    background-color: #ddd;
    /* width: 100%; */
}

.sidebar .container a.active {
    background-color: #e0e0e0;
    color: #000;
    background-color: #d3ddfb;
}

.nav-icon {
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.compose-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 142px;
    height: 56px;
    padding: 0 24px 0 0;
    margin: 0 0 16px 8px;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 500;
    color: #5f6368;
    background-color: lightblue;
}

.compose-btn img {
    margin-right: 10px;
}

.compose-btn:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.sidebar a {
    text-decoration: none;
}
