.sidebar {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    width: 200px;
    height: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    /* border: 4px solid purple; */
}

.sidebar .container {
    width: 100%;
    margin: 0 0 0 0;
    /* gap: 10px; */
}

.sidebar .container a {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    color: #333;
    border-radius: 0 16px 16px 0;
    /* border-bottom: 1px solid #ddd;  */
    /* border: 4px solid green; */
}

.sidebar .container a:hover {
    background-color: #ddd;
    width: 100%;
}

.sidebar .container a.active {
    background-color: #e0e0e0;
    color: #000;
    background-color: #d3ddfb;
}

.nav-icon {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
